@model MusicStoreEntity.Album
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/View.cshtml";
}

<style>
    .editor{
        width: 100%;
        overflow-y:scroll;
    }

</style>

<link rel="stylesheet" href="~/Content/rotate.css" />
<div class="row" style="min-height:280px ">
    <div class="col-lg-3 col-sm-3 col-xs-3">
        <h3>专辑名称：@Model.Title</h3>
        <p>作者：@Model.Artist.Name</p>
        <p>分类: @Html.ActionLink(Model.Genre.Name, "Genre", "Home", new { id = @Model.Genre.ID }, null) </p>

        <p>价格：￥@Model.Price</p>
        <p>出版时间：@Model.PublisherDate.ToString("yyyy年MM月dd日")</p>
        <a class="btn btn-primary btn-sm" id="add">添加到购物车</a>

    </div>
    <div class="col-lg-9 col-sm-9 col-xs-9">
        <div style="position:relative;min-height: 320px">
            <span class="glyphicon glyphicon-cd" aria-hidden="true" style="font-size:250px;margin-left:100px" id="cd">
            </span>
            <audio src="/Upload/Normal/normal.mp3" controls="controls" id="music" style="position: absolute;bottom: 10px;left: 100px;"></audio>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-2 col-sm-1 col-md-1 bg">
        <img src="/Upload/Photo/c1e6e08d-ba43-4732-b2a2-527b24be2af6.jpg" alt="图片" class="img-thumbnail" style="min-height: 80px;min-width: 80px">
    </div>
    <div class="col-xs-10 col-sm-11 col-md-11">
        <script id="container" name="content" type="text/plain" class="editor" style="width: 100%; overflow-Y:scroll;">
        </script>
    </div>
</div>



<div class="row">
    <div style="box-sizing: border-box;padding:50px">
        <div class="col-xs-2 col-sm-1 col-md-1 bg">
            <img src="/Upload/Normal/logo.png" alt="图片" class="img-thumbnail" style="width: 80px">
        </div>
        <div class="col-xs-10 col-sm-11 col-md-11">
            <div style="min-width: 400px;">
                <a href="#">骆芃芃</a>：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                v：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                v

                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
            </div>
            <div style="min-width: 400px;">
                <span style="color:#aaa">2015年1月6日</span>
                <i class="glyphicon glyphicon-thumbs-up" style="float:right"></i>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div style="box-sizing: border-box;padding:50px">
        <div class="col-xs-2 col-sm-1 col-md-1 bg">
            <img src="/Upload/Photo/c1e6e08d-ba43-4732-b2a2-527b24be2af6.jpg" alt="图片" class="img-thumbnail" style="min-height: 45px;min-width: 45px">
        </div>
        <div class="col-xs-10 col-sm-11 col-md-11">
            <div style="min-width: 400px;">
                <a href="#">骆芃芃</a>：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                v：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                v

                ：看的第一个青春偶像剧…啥都不懂还差点哭死
                ：看的第一个青春偶像剧…啥都不懂还差点哭死
            </div>
            <div style="min-width: 400px;">
                <span style="color:#aaa">2015年1月6日</span>
                <i class="glyphicon glyphicon-thumbs-up" style="float:right"></i>
            </div>
        </div>
    </div>
</div>

<script src="~/ueditor/ueditor.config.js"></script>
<script src="~/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>
<script>
    @*$('#add').click(function () {
        $.ajax({
            type: 'post',
            async: true,
            url: '../../Cart/AddCart',
            data: { id: "@Model.ID" },
            dataType: 'json',
            success:function(data) {
                if (data == "nologin") {
                    location.href =
                        "@Url.Action("login","Account",new {returnUrl=Url.Action("Detail","Store",new {id=Model.ID})})";
                } else {
                    setTimeout(function() {
                            location.reload();
                        },
                        1000);
                }
            }
        })

    })*@



    var cd = document.getElementById('cd');
    var music = document.getElementById('music');


    var isrotate = false;
    cd.onclick = function () {
        if (!isrotate) {
            cd.className = "glyphicon glyphicon-cd rotate";
            isrotate = !isrotate;
            music.play();
        } else {
            cd.className = "glyphicon glyphicon-cd ";
            isrotate = !isrotate;
            music.pause();
        }
    }
</script>
